/* src/App.css */

nav {
  background-color: #FF5733; /* Color de fondo del navbar */
  color: white;
  padding: 1rem;
}

nav h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

.home {
  padding: 20px;
  text-align: center; /* Centrar el texto */
}

/* Estilos para la oferta */
.offer-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Relleno */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

footer {
  background-color: #333; /* Color de fondo del footer */
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative; /* Para posicionarlo al final */
  bottom: 0; /* Fijar el footer en la parte inferior */
  width: 100%; /* Asegurarse de que el footer ocupa todo el ancho */
}

/* Agregar estilos específicos para los botones de compra */
.buy-button {
  background-color: #FFD700; /* Color dorado para los botones de compra */
  color: black; /* Color del texto del botón */
  padding: 10px 20px; /* Relleno */
  font-size: 1rem; /* Tamaño del texto */
}

.buy-button:hover {
  background-color: #FFC107; /* Color más claro al pasar el mouse */
}
